@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

body{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: blanchedalmond;
    margin: 10px 10rem 10px 10rem;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    width: 100px;
}